* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-topp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tilt-in-tl {
  0% {
    transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-tr {
  0% {
    transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-br {
  0% {
    transform: rotateY(-35deg) rotateX(-20deg) translate(250px, 250px) skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-bl {
  0% {
    transform: rotateY(35deg) rotateX(-20deg) translate(-250px, 250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-300px) scaleY(1.5) scaleX(0.2);
    transform-origin: 50% 0%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(300px) scaleY(1.5) scaleX(0.2);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}
body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner {
  padding: 230px 0 120px;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner:before {
  content: "";
  display: block;
  position: absolute;
  background: #252B49;
  opacity: 0.8;
  mix-blend-mode: normal;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
  }
}
.banner__container {
  text-align: center;
  position: relative;
}
.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 31px;
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    margin-bottom: 62px;
  }
}
@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    margin-bottom: 41px;
  }
}
.banner__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 79px;
}
@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 89px;
  }
}
@media (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 59px;
  }
}
.banner__btn {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  background-color: #FF4343;
  padding: 25px 10px;
  border: 1px solid transparent;
  max-width: 370px;
  width: 100%;
  transition: all 0.3s linear;
}
.banner__btn:hover {
  background-color: #E71414;
  border-radius: 10px;
  transform: scale(1.1);
}
.banner__btn:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}
@media (max-width: 1024px) {
  .banner__btn {
    max-width: 314px;
  }
}
@media (max-width: 767px) {
  .banner__btn {
    max-width: 279px;
    padding: 14px 10px 16px;
  }
}

.header {
  border-bottom: 1px solid #BABBC5;
  padding: 38px 0 36px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
@media (max-width: 1024px) {
  .header {
    padding: 37px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 19px 0;
    border: none;
  }
}
.header__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__image {
  width: 100%;
}
.header__logo {
  display: flex;
  max-width: 184px;
  transition: all 0.3s linear;
}
.header__logo:hover {
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  .header__logo {
    max-width: 180px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 103px;
  }
}
.header__menu {
  display: none;
  background: transparent;
  border: none;
}
@media (max-width: 767px) {
  .header__menu {
    display: flex;
  }
}

.nav {
  display: flex;
  gap: 40px;
}
@media (max-width: 1024px) {
  .nav {
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
  }
}
.nav__link:hover {
  color: #BABBC5;
}
.nav__link:active {
  color: #E71414;
}

.testimonials {
  background-color: #5C3249;
}
@media (max-width: 767px) {
  .testimonials {
    padding-bottom: 95px;
  }
}

.testimonial {
  display: flex;
  gap: 31px;
}
@media (max-width: 1024px) {
  .testimonial {
    gap: 19px;
  }
}
@media (max-width: 767px) {
  .testimonial {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
.testimonial__passege {
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  font-family: "Cardo", serif;
  text-transform: capitalize;
  margin-bottom: 34px;
}
@media (max-width: 1024px) {
  .testimonial__passege {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .testimonial__passege {
    margin-bottom: 15px;
    text-align: center;
  }
}
.testimonial__text {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .testimonial__text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
  }
}
.testimonial__wrapper {
  flex: 0 1 570px;
  padding: 116px 0;
  align-self: center;
  text-align: left;
}
@media (max-width: 1024px) {
  .testimonial__wrapper {
    padding: 110px 0 103px;
    flex: 1;
  }
}
@media (max-width: 767px) {
  .testimonial__wrapper {
    flex: 1;
    padding: 0;
  }
}
.testimonial__wrapper-image {
  display: flex;
  flex: 0 1 570px;
}
@media (max-width: 1024px) {
  .testimonial__wrapper-image {
    flex: 1;
    aspect-ratio: 482/332;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .testimonial__wrapper-image {
    aspect-ratio: 280/218;
  }
}
.testimonial__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.download {
  background-color: #fff;
  padding: 132px 0 114px;
}
@media (max-width: 1024px) {
  .download {
    padding: 93px 0 78px;
  }
}
@media (max-width: 767px) {
  .download {
    padding: 64px 0 45px;
  }
}
.download__container {
  text-align: center;
}
.download__title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 21px;
  }
}
@media (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 11px;
  }
}
.download__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    margin-bottom: 13px;
  }
}
.download__btn {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  background-color: #FF4343;
  padding: 24px 10px 26px;
  border: 1px solid transparent;
  max-width: 370px;
  width: 100%;
  transition: all 0.3s linear;
}
.download__btn:hover {
  background-color: #E71414;
  border-radius: 10px;
  transform: scale(1.1);
}
.download__btn:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}
@media (max-width: 1024px) {
  .download__btn {
    max-width: 313px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
  }
}
@media (max-width: 767px) {
  .download__btn {
    max-width: 280px;
  }
}

.features {
  padding: 110px 0 116px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .features {
    padding: 78px 0 80px;
  }
}
@media (max-width: 767px) {
  .features {
    padding: 40px 0 35px;
  }
}
.features__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 31px;
       column-gap: 31px;
  row-gap: 88px;
  text-align: center;
}
@media (max-width: 1024px) {
  .features__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 50px;
  }
}
@media (max-width: 767px) {
  .features__container {
    row-gap: 42px;
    grid-template-columns: 1fr;
  }
}
.features__wrapper-icon {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto 51px;
  transition: all 0.3s linear;
}
.features__wrapper-icon:hover {
  transform: scale(1.3);
}
@media (max-width: 1024px) {
  .features__wrapper-icon {
    max-width: 85px;
    max-height: 85px;
    margin-bottom: 43px;
  }
}
@media (max-width: 767px) {
  .features__wrapper-icon {
    max-width: 75px;
    max-height: 75px;
    margin-bottom: 37px;
  }
}
.features__icon {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.features__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 42px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .features__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .features__title {
    margin-bottom: 9px;
  }
}
.features__text {
  color: #6C7279;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.works__container {
  max-width: 1540px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .works__container {
    gap: 2px;
  }
}
@media (max-width: 767px) {
  .works__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.works__container .work:nth-child(1) {
  animation: tilt-in-tl 0.55s linear both;
}
@media (max-width: 767px) {
  .works__container .work:nth-child(1) {
    animation: scale-in-ver-topp 0.3s linear both;
  }
}
.works__container .work:nth-child(2) {
  animation: slide-in-blurred-top 0.5s linear 0.1s both;
}
@media (max-width: 767px) {
  .works__container .work:nth-child(2) {
    animation: scale-in-ver-topp 0.3s linear 0.7s both;
  }
}
.works__container .work:nth-child(3) {
  animation: slide-in-blurred-top 0.5s linear 0.17s both;
}
@media (max-width: 767px) {
  .works__container .work:nth-child(3) {
    animation: scale-in-ver-topp 0.3s linear 0.5s both;
  }
}
.works__container .work:nth-child(4) {
  animation: tilt-in-tr 0.55s linear 0.3s both;
}
@media (max-width: 767px) {
  .works__container .work:nth-child(4) {
    animation: scale-in-ver-topp 0.3s linear 0.2s both;
  }
}
.works__container .work:nth-child(8) {
  animation: tilt-in-br 0.55s linear 0.4s both;
}
@media (max-width: 767px) {
  .works__container .work:nth-child(8) {
    animation: scale-in-ver-topp 0.3s linear 0.3s both;
  }
}
.works__container .work:nth-child(7) {
  animation: slide-in-blurred-bottom 0.5s linear 0.5s both;
}
@media (max-width: 767px) {
  .works__container .work:nth-child(7) {
    animation: scale-in-ver-topp 0.3s linear 0.7s both;
  }
}
.works__container .work:nth-child(6) {
  animation: slide-in-blurred-bottom 0.5s linear 0.6s both;
}
@media (max-width: 767px) {
  .works__container .work:nth-child(6) {
    animation: scale-in-ver-topp 0.3s linear 0.6s both;
  }
}
.works__container .work:nth-child(5) {
  animation: tilt-in-bl 0.55s linear 0.7s both;
}
@media (max-width: 767px) {
  .works__container .work:nth-child(5) {
    animation: scale-in-ver-topp 0.3s linear 0.3s both;
  }
}

.work {
  aspect-ratio: 1/0.898;
  overflow: hidden;
  position: relative;
}
.work__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  border: 2px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  padding: 5px;
  transform: translateY(60%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.work__content:hover {
  opacity: 1;
  transform: translateY(0);
}
.work__content:active {
  background: rgba(185, 12, 12, 0.8);
  border: 2px solid #FFFFFF;
}
.work__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 36px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .work__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 23px;
  }
}
@media (max-width: 767px) {
  .work__title {
    margin-bottom: 7px;
  }
}
.work__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1024px) {
  .work__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.personalities {
  padding: 114px 0;
  text-align: left;
}
@media (max-width: 1024px) {
  .personalities {
    padding: 78px 0;
  }
}
@media (max-width: 767px) {
  .personalities {
    padding: 35px 0;
  }
}
.personalities__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 1024px) {
  .personalities__container {
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .personalities__container {
    grid-template-columns: 1fr;
  }
}

.person__card {
  margin-bottom: 30px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 1024px) {
  .person__card {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .person__card {
    aspect-ratio: 280/227;
    -o-object-position: center;
       object-position: center;
  }
}
.person__title {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .person__title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
.person__subtitle {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FF4343;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .person__subtitle {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .person__subtitle {
    margin-bottom: 38px;
  }
}
.person__text {
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #6C7279;
}
@media (max-width: 1024px) {
  .person__text {
    margin-bottom: 39px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .person__text {
    margin-bottom: 55px;
  }
}
.person__wrapper-media {
  display: flex;
  gap: 6px;
}
@media (max-width: 1024px) {
  .person__wrapper-media {
    gap: 5px;
  }
}
@media (max-width: 767px) {
  .person__wrapper-media {
    gap: 6px;
  }
}
.person__link {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .person__link {
    width: 33px;
    height: 33px;
  }
}
@media (max-width: 767px) {
  .person__link {
    width: 39px;
    height: 39px;
  }
}

.footer {
  background-color: #353C65;
  padding: 71px 0 0;
}
@media (max-width: 1024px) {
  .footer {
    padding: 46px 0 0;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 34px 0 0;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 71px;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer__container {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 41px;
  }
}
@media (max-width: 767px) {
  .footer__container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 64px;
    margin-bottom: 38px;
  }
}
.footer__special {
  background-color: #252B49;
  padding: 24px 0;
}
@media (max-width: 1024px) {
  .footer__special {
    padding: 14px 0;
  }
}
@media (max-width: 767px) {
  .footer__special {
    padding: 29px 0;
  }
}
.footer__title {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 29px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .footer__title {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 38px;
  }
}
.footer__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer__color {
  color: #808080;
}
.footer__text-special {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer__text-special {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer__wrapper-media {
  display: flex;
  gap: 27px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}
@media (max-width: 1024px) {
  .footer__wrapper-media {
    gap: 23px;
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper-media {
    margin: 0;
  }
}
.footer__media {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__link {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .footer__link {
    width: 33px;
    height: 33px;
  }
}
@media (max-width: 767px) {
  .footer__link {
    width: 39px;
    height: 39px;
  }
}

.special__container {
  max-width: 400px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .special__container {
    max-width: 345px;
  }
}
@media (max-width: 767px) {
  .special__container {
    max-width: 310px;
  }
}/*# sourceMappingURL=style.css.map */